<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="Your description goes here">
	<meta name="keywords" content="one, two, three">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Quote of the Day</title>

	<!-- external CSS link -->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>

	<div class="wrapper">
		<h1>Quote of the Day</h1>
		<div class="content">
			<div class="quote-area">
				<p class="quote">Fashion is something that goes in one year and out the other.</p>
			</div>
			<div class="author">
				<span class="name">Bill Jones</span>
			</div>
			<div class="button">
				<button>New Quote</button>
			</div>
		</div>


		<script type="text/javascript" src="js/main.js"></script>
</body>

</html>